<header>
  <nav>
    <ul>
      <li>Welcome, <%= user ? user.email : 'Guest' %></li>
      <!-- Other menu items -->
    </ul>
  </nav>
  <% if (user) { %>
    <form action="/logout" method="POST">
      <button type="submit">Logout</button>
    </form>
  <% } else { %>
    <a href="/login">Login</a>
    <a href="/register">Register</a>
  <% } %>
</header>

