<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TinyApp - Show URL</title>
</head>
<body>
  <h3>Show URL</h3>
  <form method="POST" action="/urls/<%= id %>">
    <label for="longURL">Long URL:</label>
    <input type="text" id="longURL" name="longURL" value="<%= longURL %>">
    <button type="submit">Update</button>
  </form>
</body>
</html>

