<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Create New URL</title>
</head>
<body>
  <h1>Create New URL</h1>
  <form action="/urls" method="POST">
    <label for="longURL">Long URL:</label>
    <input type="text" name="longURL" required><br>
    <input type="submit" value="Shorten URL">
  </form>
</body>
</html>

